.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.twocol-layout {
  padding-top: 80px;
}
.twocol-layout .content {
  width: 650px;
  float: left;
}
.twocol-layout .content h1 {
  font-size: 4em;
  letter-spacing: -5px;
  color: #333;
}
.twocol-layout .content h1 .highlight-blue {
  color: #0eafcd;
}
.twocol-layout .content .page-subtitle {
  color: #999;
  font-size: 1.6em;
  font-style: italic;
}
.twocol-layout .sidebar {
  width: 250px;
  float: right;
}
.twocol-layout .sidebar .block {
  padding: 20px;
  background: #eee;
  margin-bottom: 20px;
  border-radius: 20px;
}
.blog-entries .entry {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
.blog-entries .entry.single {
  margin: 0;
  padding: 0;
  border: none;
}
.blog-entries .entry h1.title {
  line-height: 1em;
}
.blog-entries .entry h2.title {
  display: block;
  font-size: 2.6em;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: -1px;
}
.blog-entries .entry h2.title a {
  text-decoration: none;
  color: #1c4455;
}
.blog-entries .entry .byline {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  color: #0eafcd;
}
.blog-entries .entry .entry-content {
  display: block;
}
.blog-entries .entry .entry-content p {
  margin-top: 1em;
  line-height: 1.4em;
}
.blog-entries .entry .entry-content h2 {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 1em;
  letter-spacing: -1px;
  color: #0eafcd;
  border-top: 1px dashed #d9d9d9;
  padding-top: 1em;
}
.blog-entries .entry .entry-content h4 {
  margin-top: 2em;
  font-size: 1em;
  color: #0eafcd;
  font-weight: 600;
}
.blog-entries .entry .entry-content pre {
  background: #1c4455;
  padding: 20px;
  margin: 1em 0;
  border-radius: 10px;
  line-height: 1.45em;
  font-size: 10pt;
  color: #eee;
  overflow: auto;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.blog-entries .entry .entry-content ul {
  list-style: disc;
}
.blog-entries .entry .entry-content ul li {
  margin-left: 20px;
}
.blog-entries .entry .readmore {
  display: inline-block;
  margin-top: 20px;
  background: #49c4d7;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.blog-entries .entry .readmore:hover {
  background: #0eafcd;
}
.blog-entries .pagination-container {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
.blog-entries .pagination-container .pagination .page {
  display: inline-block;
  margin-right: 5px;
}
.blog-entries .pagination-container .pagination .page a {
  background: #eee;
  color: #666;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
}
.blog-entries .pagination-container .pagination .page a:hover {
  color: white;
  background: #0eafcd;
}
.blog-entries .pagination-container .pagination .page.current a {
  background: #0eafcd;
  color: white;
}
.blog-entries .pagination-container .pagination .page.current a:hover {
  color: white;
  background: #1c4455;
}
.blog-entries .relatedentries {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
.blog-entries .relatedentries ul li {
  margin-bottom: 1em;
  width: 45%;
}
.blog-entries .relatedentries ul li .related-pretitle {
  display: block;
  color: black;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: #999;
}
.blog-entries .relatedentries ul li .related-title {
  display: block;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: -1px;
}
.blog-entries .relatedentries ul li .related-title a {
  text-decoration: none;
  color: #0eafcd;
}
.blog-entries .relatedentries ul li.previous {
  text-align: left;
  float: left;
}
.blog-entries .relatedentries ul li.next {
  text-align: right;
  float: right;
}
.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.hero-slider {
  color: white;
}
.hero-slider ul.slides li {
  display: block;
  width: 100%;
  background: black;
  background-repeat: no-repeat;
  background-position: 66% 30px;
  background-size: auto;
}
.hero-slider ul.slides li .bg {
  background: url(../img/hero-bottom-bg.svg) no-repeat;
  background-size: 111%;
  background-position: bottom center;
}
.hero-slider ul.slides li .inner {
  width: 940px;
  margin: auto;
  padding: 110px 70px 120px 70px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.hero-slider ul.slides li .inner .topline {
  display: block;
  opacity: .7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 2px;
}
.hero-slider ul.slides li .inner .headline {
  display: block;
  margin-top: 15px;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: .9em;
}
.hero-slider ul.slides li .inner .descriptive {
  display: block;
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  opacity: .9;
}
.hero-slider ul.slides li .inner .ctabtn {
  display: inline-block;
  margin-top: 30px;
  color: black;
  padding: 15px 30px;
  border-radius: 100px;
  background: white;
  opacity: .9;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 2px;
}
.hero-slider ul.slides li .inner .ctabtn:hover {
  opacity: 1;
}
.hero-slider ul.slides li.hero-devtrial {
  background-color: #0eafcd;
  background-image: url(../img/slide4.svg);
}
.hero-slider ul.slides li.hero-devtrial .ctabtn {
  color: #0eafcd;
}
.hero-slider ul.slides li.hero-sdks {
  background-color: #1f9b48;
  background-image: url(../img/slide2.svg);
}
.hero-slider ul.slides li.hero-services {
  background-color: #df2134;
  background-image: url(../img/slide3.svg);
}
.hero-slider ul.slides li.hero-osshosting {
  background-color: #fdba22;
  background-image: url(../img/slide3.svg);
}
.hero-slider ul.slides li.hero-sponsorship {
  background-color: #824199;
  background-image: url(../img/slide3.svg);
}
.bodyitem.shieldboxes {
  margin: -40px auto 30px auto;
}
.bodyitem.shieldboxes ul {
  margin-left: -20px;
}
.bodyitem.shieldboxes ul li {
  display: block;
  width: 300px;
  padding: 20px 40px 80px;
  background: url(../img/shieldbox.svg) no-repeat bottom center;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.bodyitem.shieldboxes ul li img {
  margin: 20px auto;
  display: block;
  max-height: 80px;
  opacity: .15;
}
.bodyitem.shieldboxes ul li .title {
  display: block;
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.bodyitem.shieldboxes ul li .description {
  font-size: 1.2em;
  line-height: 1.5em;
  display: block;
}
.bodyitem.shieldboxes ul li .cta {
  display: inline-block;
  padding: 8px 0;
  width: 75%;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border-radius: 30px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.bodyitem.shieldboxes ul li.shield1 .description {
  margin-bottom: 21px;
}
.bodyitem.shieldboxes ul li.shield1 .description .fineprint {
  line-height: 1em;
  font-size: .7em;
  color: #999;
  margin-top: 0px;
  display: block;
}
.bodyitem.shieldboxes ul li.shield1 a {
  color: #666;
}
.bodyitem.shieldboxes ul li.shield1 .cta {
  background: #fdba22;
  margin-top: 0;
  color: white;
}
.bodyitem.shieldboxes ul li.shield1 .cta:hover {
  background: #ef9923;
}
.bodyitem.shieldboxes ul li.shield2 .cta {
  background: #1f9b48;
}
.bodyitem.shieldboxes ul li.shield2 .cta:hover {
  background: #106745;
}
.bodyitem.shieldboxes ul li.shield3 .cta {
  background: #df2134;
}
.bodyitem.shieldboxes ul li.shield3 .cta:hover {
  background: #ab1d37;
}
.bodyitem.secondaryboxes {
  margin-bottom: 60px;
}
.bodyitem.secondaryboxes ul {
  margin-left: -20px;
}
.bodyitem.secondaryboxes ul li {
  display: block;
  width: 220px;
  padding: 10px;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.bodyitem.secondaryboxes ul li img {
  margin: 20px auto;
  display: block;
  max-height: 60px;
  opacity: .15;
}
.bodyitem.secondaryboxes ul li .title {
  display: block;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.bodyitem.secondaryboxes ul li .description {
  font-size: 1em;
  display: block;
  margin-bottom: 20px;
}
.bodyitem.secondaryboxes ul li .cta {
  display: inline-block;
  padding: 8px 0;
  width: 66%;
  background: #0eafcd;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.bodyitem.secondaryboxes ul li .cta:hover {
  background: #1c4455;
}
.bodyitem.fromtheblog {
  padding-top: 60px;
  text-align: center;
  color: #1c4455;
  border-top: 1px solid #ccc;
}
.bodyitem.fromtheblog h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
}
.bodyitem.fromtheblog h2 a {
  color: #0eafcd;
  text-decoration: none;
}
.bodyitem.fromtheblog h2 a:hover {
  text-decoration: underline;
}
.bodyitem.fromtheblog ul {
  margin: 20px 0 0 -20px;
}
.bodyitem.fromtheblog ul li {
  display: block;
  width: 300px;
  padding: 20px;
  float: left;
  margin-left: 20px;
}
.bodyitem.fromtheblog ul li .title a {
  font-size: 1.4em;
  font-weight: 600;
  display: block;
  line-height: 1.1em;
  color: #1c4455;
  text-decoration: none;
}
.bodyitem.fromtheblog ul li .title a:hover {
  color: #0eafcd;
}
.bodyitem.fromtheblog ul li .byline {
  font-weight: 600;
  display: block;
  opacity: .8;
  margin-top: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.valigned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.smallcapped {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}
.bodyitem.shieldboxes.sixup ul li {
  width: 140px;
  padding: 40px;
  margin-bottom: 5px;
}
.bodyitem.shieldboxes.sixup ul li a {
  text-decoration: none;
}
.bodyitem.shieldboxes.sixup ul li a .imgwrap {
  display: block;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}
.bodyitem.shieldboxes.sixup ul li a img {
  max-height: 60px;
  display: block;
  margin: 0 auto;
  opacity: .5;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.bodyitem.shieldboxes.sixup ul li a .title {
  font-size: 1.4em;
  color: #333;
}
.bodyitem.shieldboxes.sixup ul li:hover {
  padding-bottom: 45px;
  margin-bottom: 0;
}
.bodyitem.sdktable {
  margin-bottom: 80px;
}
.bodyitem.sdktable a {
  color: #1f9b48;
}
.bodyitem.sdktable .lang {
  border-top: 1px solid #ccc;
  padding-top: 40px;
  margin: 40px 0 0 -20px;
}
.bodyitem.sdktable .lang .col {
  width: 220px;
  float: left;
  margin-left: 20px;
}
.bodyitem.sdktable .lang .col h2 {
  display: block;
  font-size: 2.6em;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: -3px;
}
.bodyitem.sdktable .lang .col .cta {
  padding: 10px 20px;
  background: #1f9b48;
  color: white;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
}
.bodyitem.sdktable .lang .col .cta:hover {
  background: #106745;
}
.bodyitem.sdktable .lang .col .colheader {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
}
.bodyitem.sdktable .lang .col p {
  margin-top: 1em;
}
body.devtrial-page .fromtheblog {
  border-top: none;
}
.bodyitem.shieldpage {
  background: #eee;
  padding: 60px 80px 80px 80px;
  margin-top: -40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.bodyitem.shieldpage p {
  margin-top: 1em;
}
.bodyitem.shieldpage .bigpara {
  font-size: 1.3em;
  line-height: 1.2em;
  font-style: italic;
}
body {
  background: white;
  font-family: "Source Sans Pro";
  font-weight: 400;
}
a {
  color: #0eafcd;
}
.bodyitem {
  width: 940px;
  margin: auto;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: .85;
  background: black;
  color: white;
}
.header:hover {
  opacity: 1;
}
.header .inner {
  width: 940px;
  margin: auto;
  padding: 10px;
}
.header .inner .title {
  display: block;
  line-height: 20px;
  color: white;
  float: left;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  font-size: .9em;
  font-weight: 600;
  padding-left: 23px;
  background: url(../img/rs-logo.svg) no-repeat left center;
  background-size: contain;
}
.header .inner ul {
  float: right;
}
.header .inner ul li {
  display: inline-block;
  margin-left: 25px;
}
.header .inner ul li a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: .9em;
  line-height: 20px;
}
.header .inner ul li a:hover,
.header .inner ul li a.selected {
  color: white;
  text-decoration: underline;
}
.footer {
  text-align: center;
  padding: 100px;
  background: #1a1a1a;
  color: #666;
  margin-top: 80px;
}
